<div class="row">
  <div class="col-12 col-md-4 deck-show">
    <h2><%= title "Deck summary" %></h2>
    <%= render partial: "/decks/basic_info", locals: {deck: @deck} %>
    <%= link_to "View full deck information", deck_path(@deck.uuid), class: "btn btn-primary"%>
  </div>
  <div class="col-12 col-md-8">
    <h2>Decks played overview</h2>
    <% if current_user.games.with_deck(@deck.id).any? %>
      <table class="table table-dark">
        <thead class="thead-dark">
          <tr>
            <th>Deck name</th>
            <th>Games played</th>
            <th>Wins</th>
            <th>Win rate</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.games.with_deck(@deck.id).unique_decks.reject{|x| x==@deck}.each do |deck| %>
            <tr>
              <td><%= link_to deck.name, deck_path(deck.uuid) %></td>
              <td><%= current_user.games.with_decks(deck.id, @deck.id).count %></td>
              <td><%= current_user.games.with_decks(deck.id, @deck.id).with_winning_deck(@deck.id).count %></td>
              <td><%= @deck_user.win_rate_against(deck.id)%>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>You have not registered any games yet, what are you waiting for?!</p>
    <% end %>
    <hr/>
    <h2>Games</h2>
    <%= render partial: "games/games", locals: {games: current_user.games.with_deck(@deck.id).order(played_at: :desc)} %>
    <h2>Notes</h2>
    <p class="lead"><%= @deck_user.notes %></p>
  </div>
</div>
